<form [formGroup]="sudokuForm">
  <table formGroupName="rows" class="table-border">
    <tr
      *ngFor="let row of $any(sudokuForm.get('rows')).controls; let index = index"
      [formArrayName]="index"
      [class.bottom-inner-border]="index === 2 || index === 5"
    >
      <td>
        <input class="sudoku-input" type="text" size="1" formControlName="column0" />
      </td>
      <td>
        <input class="sudoku-input" type="text" size="1" formControlName="column1" />
      </td>
      <td class="right-inner-border">
        <input class="sudoku-input" type="text" size="1" formControlName="column2" />
      </td>
      <td>
        <input class="sudoku-input" type="text" size="1" formControlName="column3" />
      </td>
      <td>
        <input class="sudoku-input" type="text" size="1" formControlName="column4" />
      </td>
      <td class="right-inner-border">
        <input class="sudoku-input" type="text" size="1" formControlName="column5" />
      </td>
      <td>
        <input class="sudoku-input" type="text" size="1" formControlName="column6" />
      </td>
      <td>
        <input class="sudoku-input" type="text" size="1" formControlName="column7" />
      </td>
      <td>
        <input class="sudoku-input" type="text" size="1" formControlName="column8" />
      </td>
    </tr>
  </table>
</form>
<br />
<div>
  <button mat-flat-button color="primary" (click)="solve()" [disabled]="!sudokuForm.valid || disableButtonsForSolving">
    <mat-icon>emoji_objects</mat-icon> Solve!
  </button>
  &nbsp;
  <button mat-flat-button color="accent" (click)="reset()" [disabled]="disableButtonsForSolving">
    <mat-icon>cancel</mat-icon> Reset
  </button>
</div>
<br *ngIf="sudokuUnsolvable" />
<mat-card *ngIf="sudokuUnsolvable" style="max-width: 400px">
  <mat-card-title class="error-card-title"><mat-icon>error_outline</mat-icon></mat-card-title>
  <mat-card-content
    >⚠️⚠️⚠️ There is no valid solution for the Sudoku puzzle that you just entered! ⚠️⚠️⚠️</mat-card-content
  >
</mat-card>
