<form [formGroup]="sudokuForm">
  <table formGroupName="rows" class="sudoku-table">
    <tr
      *ngFor="let row of $any(sudokuForm.get('rows')).controls; let index = index"
      [formArrayName]="index"
      [class.bottom-border-between-boxes]="index === 2 || index === 5"
      [class.bottom-border-between-cells]="!(index === 2 || index === 5 || index === 8)"
    >
      <td class="right-border-between-cells">
        <input class="sudoku-input" type="text" size="1" formControlName="column0" />
      </td>
      <td class="right-border-between-cells">
        <input class="sudoku-input" type="text" size="1" formControlName="column1" />
      </td>
      <td class="right-border-between-boxes">
        <input class="sudoku-input" type="text" size="1" formControlName="column2" />
      </td>
      <td class="right-border-between-cells">
        <input class="sudoku-input" type="text" size="1" formControlName="column3" />
      </td>
      <td class="right-border-between-cells">
        <input class="sudoku-input" type="text" size="1" formControlName="column4" />
      </td>
      <td class="right-border-between-boxes">
        <input class="sudoku-input" type="text" size="1" formControlName="column5" />
      </td>
      <td class="right-border-between-cells">
        <input class="sudoku-input" type="text" size="1" formControlName="column6" />
      </td>
      <td class="right-border-between-cells">
        <input class="sudoku-input" type="text" size="1" formControlName="column7" />
      </td>
      <td>
        <input class="sudoku-input" type="text" size="1" formControlName="column8" />
      </td>
    </tr>
  </table>
</form>
<br />
<div>
  <button mat-flat-button color="primary" (click)="solve()" [disabled]="!sudokuForm.valid || disableButtonsForSolving">
    <mat-icon>emoji_objects</mat-icon> {{ "SUDOKU-BOX.BUTTON-SOLVE" | translate }}
  </button>
  &nbsp;
  <button mat-flat-button color="accent" (click)="openResetDialog()" [disabled]="disableButtonsForSolving">
    <mat-icon>cancel</mat-icon> {{ "SUDOKU-BOX.BUTTON-RESET" | translate }}
  </button>
</div>
<br *ngIf="sudokuUnsolvable" />
<mat-card *ngIf="sudokuUnsolvable" style="max-width: 400px">
  <mat-card-title class="error-card-title"><mat-icon>error_outline</mat-icon></mat-card-title>
  <mat-card-content>⚠️⚠️⚠️ {{ "SUDOKU-BOX.UNSOLVABLE-CONTENT" | translate }} ⚠️⚠️⚠️</mat-card-content>
</mat-card>
