@import '@angular/material/theming'; // import theming functions from Angular Material
$warn-palette: mat-palette($mat-red); // generate color palette
$warn: mat-color($warn-palette); // generate warn color

.ng-invalid:not(table,tr,form) {
  background-color: $warn;
  color: white;
  }
.sudoku-input {
  text-align: center;
  border: 0;
  padding: 1px !important;
  background-color: lightgray;
  width: 30px;
  height: 30px;
  font-size: 20px;
}
.sudoku-table {
  border-collapse: collapse;
  background-color: lightgray;
}
.bottom-border-between-boxes {
  border-bottom: 5px solid black;
}
.right-border-between-boxes {
  border-right: 5px solid black;
}
.bottom-border-between-cells {
  border-bottom: 1px solid black;
}
.right-border-between-cells {
  border-right: 1px solid black;
}
.error-card-title{
  color:$warn;
}