<mat-toolbar class="toolbar mat-elevation-z4" color="primary">
  <a mat-button href="{{ explanationLinkWiki }}" target="_blank">
    <span class="material-icons">school</span> {{ "APP.TOOLBAR-EXPLANATION" | translate }}</a
  >
  <a mat-button href="https://github.com/luth1um/sudoku-solver-angular" target="_blank">
    <span class="material-icons">data_object</span> {{ "APP.TOOLBAR-SOURCE-CODE" | translate }}</a
  >
</mat-toolbar>
<main class="content">
  <h1 class="mat-h1">{{ "APP.HEADING" | translate }}</h1>
  <mat-card style="max-width: 400px">
    <mat-card-subtitle>🔎 {{ "APP.HOW-TO-TITLE" | translate }}</mat-card-subtitle>
    <mat-card-content [innerHTML]="'APP.HOW-TO-CONTENT' | translate"> </mat-card-content>
  </mat-card>
  <br />
  <solve-sudoku-box></solve-sudoku-box>
</main>
