<mat-toolbar class="toolbar mat-elevation-z4" color="primary">
  <a mat-button href="https://en.wikipedia.org/wiki/Sudoku" target="_blank">
    <span class="material-icons">school</span> Sudoku Explanation</a
  >
  <a mat-button href="https://github.com/luth1um/sudoku-solver-angular" target="_blank">
    <span class="material-icons">data_object</span> Source Code</a
  >
</mat-toolbar>
<main class="content">
  <h1 class="mat-h1">Sudoku Solver</h1>
  <mat-card>
    <mat-card-subtitle>🔎 How To</mat-card-subtitle>
    <mat-card-content>
      To get the solution for a Sudoku puzzle, simply enter all known numbers into the following form and press
      <i>Solve!</i>
    </mat-card-content>
  </mat-card>
  <br />
  <solve-sudoku-box></solve-sudoku-box>
</main>
